<div class="d-flex justify-content-between align-items-center mb-3 bg-white p-3 rounded shadow-sm">
  <h4 class="mb-0 fw-bold">Events List</h4>
  <div class="col-sm-5 d-flex">
    <input class="form-control me-2" type="search" placeholder="Search by Name and Description.." aria-label="Search"
      [(ngModel)]="searchevents" name="searchnews" (ngModelChange)="onSearchChange($event)">
    <button class="btn dashboard-button-bg text-nowrap" (click)="addEditModel()">
      <i class="fa fa-plus"> </i> Add Event
    </button>
  </div>
</div>

<!-- // Pagination and Table -->
<div style="min-height: 450px;" class="bg-white">
  <table class="table table-responsive table-border table-striped">
    <thead>
      <tr>
        <th scope="col">Sr. No</th>
        <th scope="col">Banner</th>
        <th scope="col">Name</th>
        <th scope="col" class="text-center">Date</th>
        <th scope="col">Mode</th>
        <th scope="col">Location</th>
        <th scope="col">Event Type</th>
        <th scope="col">Members</th>
        <th scope="col">Status</th>
        <th scope="col" class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of eventsList; let i = index" [title]="event.description">
        <th scope="row" class="align-middle">{{ i + 1 }}</th>
        <td class="align-middle">
          <img [src]="event.event_banner ? event.event_banner : 'assets/dummy.jpg'" alt="Event Banner" width="50px"
            height="auto" class="img-thumbnail" style="height: 50px" />
        </td>
        <td class="align-middle" style="width: 300px;"> {{ event?.name ? (event.name.length > 25 ? (event.name |
          slice:0:25) + '...' : event.name) : '' | titlecase }}</td>
        <!-- <td class="align-middle">{{ event.from_event_date | date : "dd/MM/YYYY" }}</td> -->
        <!-- <td class="align-middle">
          <span class="date-range">
            {{ event.from_event_date | date: "dd/MM/yyyy" }} to {{ event.to_event_date | date: "dd/MM/yyyy" }}
          </span>
        </td> -->
        <td class="align-middle">
          <div class="d-flex align-items-center justify-content-center">
            <!-- From Date Box -->
            <div class="calendar-box text-center mx-1 border rounded shadow-sm" style="width: 45px;">
              <div class="calendar-header text-white rounded-top text-uppercase">
                {{ event.from_event_date | date: 'MMM' }}
              </div>
              <div class="calendar-body text-black fw-bold" style="font-size: 10px;">
                {{ event.from_event_date | date: 'd' }}
              </div>
              <div class="calendar-footer" style="font-size: 11px;">
                {{ event.from_event_date | date: 'yyyy' }}
              </div>
            </div>

            <!-- "to" text -->
            <span *ngIf="!isSameDate(event)" class="mx-2 fw-semibold" style="font-size: 12px;">to</span>

            <!-- To Date Box -->
            <div *ngIf="!isSameDate(event)" class="calendar-box text-center mx-1 border rounded shadow-sm"
              style="width: 45px;">
              <div class="calendar-header text-white rounded-top text-uppercase">
                {{ event.to_event_date | date: 'MMM' }}
              </div>
              <div class="calendar-body text-black fw-bold p-0" style="font-size: 10px;">
                {{ event.to_event_date | date: 'd' }}
              </div>
              <div class="calendar-footer" style="font-size: 10px; padding: 0%;">
                {{ event.to_event_date | date: 'yyyy' }}
              </div>
            </div>
          </div>
        </td>


        <td class="align-middle">{{ event["mode"] || "N/A" }}</td>
        <td class="align-middle" style="width: 200px;">{{ event["location"] || "N/A" }}</td>
        <td class="align-middle">{{ event["event_type"] || "N/A" }}</td>
        <td class="align-middle text-center">{{ event["joined_users_count"]+'/'+event["total_member"] || "N/A" }}</td>
        <td class="align-middle">
          <div class="custom-toggle" [class.active]="event.is_active === 1" (click)="toggleStatus(i, event)">
            <span class="toggle-label">
              {{ event.is_active === 1 ? "YES" : "NO" }}
            </span>
            <div class="toggle-knob"></div>
          </div>
        </td>
        <td class="text-center align-middle" style="width: 100px;">
          <button class="me-2 btn view-button btn-sm" (click)="addEditModel(event)">
            <i class="bi bi-pencil-square"></i>
          </button>
          <button class=" btn view-button btn-sm" (click)="openDeleteModal(event)">
            <i class="bi bi-trash-fill"> </i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="eventsList.length === 0" class="alert alert-info alert-posstion">
    No events found.
  </div>
</div>
<!-- <div *ngIf="eventsList.length > 0" class="has-text-centered">
  <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div> -->
<div *ngIf="totalItems > 0" class="has-text-centered pt-3">
  <pagination class="custom-pagination" [totalItems]="totalItems" [(ngModel)]="currentPage"
    [itemsPerPage]="itemsPerPage" [maxSize]="5" [boundaryLinks]="true" previousText="«" nextText="»" firstText="First"
    lastText="Last" (pageChanged)="onPageChange($event)">
  </pagination>

  <!-- Add/Edit Event Modal -->
  <div bsModal #showAddEditEventsModal="bs-modal" class="modal fade remove-modal-bg" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true"
    [config]="{ backdrop: 'static', keyboard: false, animated: true }">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content p-4">
        <div class="modal-header pt-0">
          <h3 class="modal-title text-center fw-bold">
            {{ eventForm.value.id ? "Edit" : "Add" }} Event
          </h3>
        </div>
        <div class="modal-body pb-0">
          <form [formGroup]="eventForm">
            <div class="row">
              <!-- Title & Date -->
              <div class="col-md-6 mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" id="name" class="form-control" formControlName="name" />
                <small class="text-danger" *ngIf="
                  eventForm.get('name')?.touched &&
                  eventForm.get('name')?.invalid
                ">
                  Name is required.
                </small>
              </div>
              <!-- <div class="col-md-6 mb-3">
              <label for="from_event_date" class="form-label">Event Date</label>
              <input type="date" id="from_event_date" class="form-control" formControlName="from_event_date" />
              <small class="text-danger" *ngIf="
                  eventForm.get('from_event_date')?.touched &&
                  eventForm.get('from_event_date')?.invalid
                ">
                Event Date is required.
              </small>
            </div> -->
              <div class="col-md-6 mb-3">
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="from_event_date" class="form-label">From Event Date</label>
                    <input type="date" id="from_event_date" class="form-control" formControlName="from_event_date" />
                    <small class="text-danger" *ngIf="
                      eventForm.get('from_event_date')?.touched &&
                      eventForm.get('from_event_date')?.invalid
                    ">
                      From Event Date is required.
                    </small>
                  </div>

                  <div class="col-md-6 mb-3">
                    <label for="to_event_date" class="form-label">To Event Date</label>
                    <input type="date" id="to_event_date" class="form-control" formControlName="to_event_date" />
                    <small class="text-danger" *ngIf="
                      eventForm.get('to_event_date')?.touched &&
                      eventForm.get('to_event_date')?.invalid
                    ">
                      To Event Date is required.
                    </small>
                  </div>
                </div>
              </div>
              <!-- Start Time & End Time -->
              <div class="col-md-6 mb-3">
                <label for="startTime" class="form-label">Start Time</label>
                <input type="time" id="startTime" class="form-control" formControlName="start_time" />
                <small class="text-danger" *ngIf="
                  eventForm.get('start_time')?.touched &&
                  eventForm.get('start_time')?.invalid
                ">
                  Start Time is required.
                </small>
              </div>
              <div class="col-md-6 mb-3">
                <label for="endTime" class="form-label">End Time</label>
                <input type="time" id="endTime" class="form-control" formControlName="end_time" />
                <small class="text-danger" *ngIf="
                  eventForm.get('end_time')?.touched &&
                  eventForm.get('end_time')?.invalid
                ">
                  End Time is required.
                </small>
              </div>
              <!-- Location & Mode -->
              <div class="col-md-6 mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" id="location" class="form-control" formControlName="location" />
                <small class="text-danger" *ngIf="
                  eventForm.get('location')?.touched &&
                  eventForm.get('location')?.invalid
                ">
                  Location is required.
                </small>
              </div>
              <div class="col-md-6 mb-3">
                <label for="mode" class="form-label">Mode</label>
                <select id="mode" class="form-control" formControlName="mode">
                  <option value="Online">Online</option>
                  <option value="Offline">Offline</option>
                </select>
                <small class="text-danger" *ngIf="
                  eventForm.get('mode')?.touched &&
                  eventForm.get('mode')?.invalid
                ">
                  Mode is required.
                </small>
              </div>
              <!-- Meeting Link & Priority -->
              <div class="col-md-6 mb-3">
                <label for="meetingLink" class="form-label">Meeting Link</label>
                <input type="url" id="meetingLink" class="form-control" formControlName="meeting_link" />
              </div>
              <!-- Event Type -->
              <div class="col-md-6 mb-3">
                <div class="">
                  <label for="eventType" class="form-label">Event Type</label>
                  <select id="eventType" class="form-control" formControlName="event_type">
                    <option value="Imitation">Imitation</option>
                    <option value="Reception">Reception</option>
                    <option value="Guidance">Guidance</option>
                    <option value="Exploration">Exploration</option>
                    <option value="Experimentation">Experimentation</option>
                    <option value="Creation">Creation</option>
                    <option value="Self-Reflection">Self-Reflection</option>
                    <option value="Debate or Animation">
                      Debate or Animation
                    </option>
                  </select>
                  <small class="text-danger" *ngIf="
                    eventForm.get('event_type')?.touched &&
                    eventForm.get('event_type')?.invalid
                  ">
                    Event Type is required.
                  </small>
                </div>
              </div>
              <div class="col-md-6 mb-3 text-center">
                <!-- Banner Image Upload -->
                <div class="position-relative">
                  <label for="fileToUpload" class="rounded-circle mt-3">
                    <div class="profile-pic text-center position:relative">
                      <img id="ImgPreview" [src]="profileImageView()" height="200px" width="200px"
                        class="rounded-circle" style="cursor: pointer;" />
                      <i class="fa fa-camera" style="position: relative;
                  right: 110px;
                  top: 81px;"></i>
                    </div>
                    <!-- <input type="File" name="fileToUpload" id="fileToUpload" class="form-control" accept="image/*"
                      hidden (change)="onFileChangeForCrop($event)"> -->
                    <input type="File" name="fileToUpload" id="fileToUpload" class="form-control" accept="image/*"
                      hidden (change)="onFileChange($event)">
                  </label>
                  <button *ngIf="this.selectedFiles.imageUrl || eventForm.profileImage" (click)="deleteImg()"
                    class="rmv add-close-button"><i class="fa fa-trash text-danger"></i>
                  </button>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <!-- Description -->
                <div class="mb-3">
                  <label for="description" class="form-label">Description</label>
                  <textarea rows="7" id="description" class="form-control" formControlName="description"></textarea>
                  <small class="text-danger" *ngIf="
                      eventForm.get('description')?.touched &&
                      eventForm.get('description')?.invalid
                    ">
                    Description is required.
                  </small>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer pb-0">
          <button type="button" class="btn dashboard-button-bg m-0" (click)="addUpdateEvent()">
            {{ eventForm.value.id ? "Update" : "Save" }} Event
          </button>
          <span type="button" (click)="closeModel()"
            class="fa fa-remove close-modal position-absolute top-0 end-0 m-3 fs-5 cursor-pointer"
            data-bs-dismiss="modal"></span>
        </div>
      </div>
    </div>
  </div>

  <!-- Crop Modal -->
  <div class="modal fade remove-modal-bg" bsModal #imageCropModal="bs-modal" tabindex="-1" role="dialog"
    [config]="{backdrop: 'static', keyboard: false}" style="z-index: 999999999999;">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Crop Profile Image</h5>
          <span type="button" class="btn-close" (click)="this.imageCropModal.hide();" data-bs-dismiss="modal"
            class="fa fa-remove close-modal position-absolute top-0 end-0 m-3 fs-5 cursor-pointer">
          </span>
        </div>
        <div class="modal-body">
          <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1"
            [resizeToWidth]="100" [resizeToHeight]="100" [cropperMinWidth]="100" [cropperMinHeight]="100" format="png"
            (imageCropped)="imageCropped($event)">
          </image-cropper>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn view-button" (click)="this.imageCropModal.hide();">
            Cancel
          </button>
          <button type="button" class="btn view-button" (click)="applyCroppedImage()"
            [disabled]="!croppedImage || isCropping">
            {{ isCropping ? 'Processing...' : 'Apply Crop' }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Confirmation Modal -->
  <div bsModal #deleteEventModal="bs-modal" class="modal fade remove-modal-bg" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: 'static', keyboard: false, animated: true}">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title text-center fw-bold">Confirm Delete</h3>
          <span type="button" class="btn-close" (click)="closeModel()" data-bs-dismiss="modal"
            class="fa fa-remove close-modal position-absolute top-0 end-0 m-3 fs-5 cursor-pointer"></span>
        </div>
        <div class="modal-body text-center">
          <b>Are you sure you want to delete this <span class="text-danger">{{currentEvent.name}}</span>
            Event?</b>
        </div>
        <!-- <pre>{{newSubscription | json}}</pre> -->
        <div class="modal-footer">
          <button type="button" class="btn dashboard-button-bg" (click)="closeModel()">No</button>
          <button type="button" class="btn dashboard-button-bg" (click)="confirmDelete()">Yes</button>
        </div>
      </div>
    </div>
  </div>