.subscriptions .subscribe-list ul li{padding-left: 60px;}

.subscriptions .subscribe-list ul li.check::after {
    content: "";
    position: absolute;
    left: 20px;
    top: 2px;
    width: 16px;
    height: 18px;
    background-color: #1A3146;
    mask-image: url(../../../../../public/assets/subscriptions/check-icon.svg);
    mask-size: contain;
    mask-position: center center;
    mask-repeat: no-repeat;
}
.subscriptions .years,
.subscriptions .recommended{font-size: 14px;}

.subscriptions {
    max-width: 1262px;
    margin: auto;
}

.subscriptions .subscripe-active{z-index: 999;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 435px;}

.subscriptions-banner{position: relative;}


@media (max-width: 1601px){
.subscriptions .subscripe-active{max-width: 425px;}
.subscriptions .sub-center-pera{font-size: 16px;}
}
@media (max-width: 1440px){
.subscriptions .subscripe-active{max-width: 405px;}
}
@media (max-width: 1200px){
.subscriptions .subscripe-active{max-width: 340px;}
}
@media (max-width: 1024px){
.subscriptions .subscribe-list ul li.check::after{left: 5px;}
.subscriptions .subscribe-list ul li{padding-left: 40px;}
}

@media (max-width: 992px){
    .subscriptions .subscripe-active,
    .subscriptions .subscriptions-banner{position: inherit;}
    .subscriptions .subscripe-active{
        width: 100%;        max-width: inherit; margin: 30px 0px;
    }
    }



.theme-text-sub{
    color: #1A3146 !important;
}