# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/node-api/dist
/node-api/node_modules
/client-angular/dist
/client-angular/node_modules
