.contact-info{max-width: 1262px; margin: auto;}
.contact-info .contact-left{padding-right: 90px;}


.contact-info .form-banner{border: 1px solid #BDBDBD;}

@media (max-width: 992px) {
.contact-info .contact-left{padding-right: 0px;}

}
