<section class="hero position-relative ">
  <div class="container">
    <div class="row d-flex  hero-banner">
      <div class="col-md-6">
        <div class="pe-0 pe-lg-5">
          <p class="theme-text-secondary head-pera pb-0 pb-xxl-3 mb-0">VISION</p>
          <h1 class="theme-text-primary pb-0 pb-xxl-4">Active Learner<br>Group</h1>
          <p class=" mb-0 pera-small theme-text-light pt-2 pe-3">To be India's most impactful and collaborative learning
            community of entrepreneurs, committed to personal growth, business excellence, and societal contribution.​
          </p>
        </div>
      </div>
      <div class="col-md-6 mb-5 mb-md-0">
        <div class="mt-4 mt-lg-0 text-start ">

          <div class="swiper hero-Swiper ">
            <div class="swiper-wrapper ">
              <!-- <div class="swiper-slide"> <img src="assets/images/slider1.png" alt="" class="w-100">
              </div>
              <div class="swiper-slide"> <img src="assets/images/slider2.png" alt="" class="w-100">
              </div>
              <div class="swiper-slide"> <img src="assets/images/slider3.png" alt="" class="w-100">
              </div> -->
              <div class="swiper-slide"> <img src="assets/images/1.jpg" alt="1.jpg" class="">
              </div>
              <div class="swiper-slide"> <img src="assets/images/2.jpg" alt="2.jpg" class="">
              </div>
              <div class="swiper-slide"> <img src="assets/images/3.jpg" alt="3.jpg" class="">
              </div>
              <div class="swiper-slide"> <img src="assets/images/4.jpg" alt="4.jpg" class="">
              </div>
            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
      </div>
      <div class="col-12 text-center mb-3 d-none d-md-block">
        <img src="assets/images/banner-icon.png" alt="">
      </div>
    </div>
  </div>
</section>
<section class="key theme-top-specing theme-bottom-specing">
  <div class="container">
    <div class="theme-head text-center">
      <h2 class="theme-text-primary mb-0">Core Values</h2>
    </div>
    <div class="row d-flex  key-banner">
      <div class="col-sm-12 col-md-6 col-lg-4 key-card">
        <div class="key-box h-100 d-flex  theme-shadow-small theme-radius">
          <div class="key-icon pe-2">
            <img src="assets/images/members.svg" alt="key-card" class="mt-1">
          </div>
          <div class="key-info ps-3">
            <p class="theme-text-primary head-pera pb-2 mb-0">Learning Mindset</p>
            <p class="pera-small theme-text-light mb-0 pt-1">We believe in lifelong learning and continuously strive to
              grow in knowledge, skills, and mindset.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 key-card">
        <div class="key-box h-100 d-flex  theme-shadow-small theme-radius">
          <div class="key-icon pe-2">
            <img src="assets/images/discussions.svg" alt="key-card" class="mt-1">
          </div>
          <div class="key-info ps-3">
            <p class="theme-text-primary head-pera pb-2 mb-0">Contribution</p>
            <p class="pera-small theme-text-light mb-0 pt-1">We are inspired by the Ekorre' spirit-every small act of
              help matters. We share generously with the group and society.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 key-card">
        <div class="key-box h-100 d-flex  theme-shadow-small theme-radius">
          <div class="key-icon pe-2">
            <img src="assets/images/business.svg" alt="key-card" class="mt-1">
          </div>
          <div class="key-info ps-3">
            <p class="theme-text-primary head-pera pb-2 mb-0">Trust & respect</p>
            <p class="pera-small theme-text-light mb-0 pt-1">We build honest relationships and respect every member's
              opinion, time, and journey.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 key-card">
        <div class="key-box h-100 d-flex  theme-shadow-small theme-radius">
          <div class="key-icon pe-2">
            <img src="assets/images/collaborations.svg" alt="key-card" class="mt-1">
          </div>
          <div class="key-info ps-3">
            <p class="theme-text-primary head-pera pb-2 mb-0">Unity in Diversity</p>
            <p class="pera-small theme-text-light mb-0 pt-1">We value the diversity of business backgrounds and
              cuitures, finding strength in varied perspectives.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 key-card">
        <div class="key-box h-100 d-flex  theme-shadow-small theme-radius">
          <div class="key-icon pe-2">
            <img src="assets/images/industry.svg" alt="key-card" class="mt-1">
          </div>
          <div class="key-info ps-3">
            <p class="theme-text-primary head-pera pb-2 mb-0">Positive Communication</p>
            <p class="pera-small theme-text-light mb-0 pt-1">We promote uplifting, clear, and constructive communication
              that bullds.confidence and connection.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 key-card">
        <div class="key-box h-100 d-flex  theme-shadow-small theme-radius">
          <div class="key-icon pe-2">
            <img src="assets/images/events.svg" alt="key-card" class="mt-1">
          </div>
          <div class="key-info ps-3">
            <p class="theme-text-primary head-pera pb-2 mb-0">integrity & Accountability</p>
            <p class="pera-small theme-text-light mb-0 pt-1">We uphold transparency and hold ourselves accountable to
              our goeals</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="mission  theme-bg-primary py-5">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 pe-md-5">
        <div class="mission-info pe-md-5">
          <h2 class="theme-text-primary mb-2">Mission</h2>
          <p class="pera-small theme-text-light">To bring together business owners from diverse industries every week
            for structured, purposeful conversations and learning.</p>
          <p class="pera-small theme-text-light">To create a safe and inspiring space where members exchange ideas,
            solve business challenges, and grow personally and professionally.</p>
          <p class="pera-small theme-text-light">To encourage action through real-life implementation of shared
            knowledge, accountebility, and mentoring.</p>
          <p class="pera-small theme-text-light">To foster a culture of contribution where each member uplifts others
            and extends learnings to their teams, families and society.</p>
        </div>
      </div>
      <div class="col-md-6">
        <img src="assets/mission/mission.png" alt="" class="theme-radius ">
      </div>
    </div>
  </div>
</section>
<section class="events theme-bottom-specing pb-5 mb-5">
  <div class="container">
    <div class="theme-head row d-flex align-items-center justify-content-between">
      <div class="col-lg-7 events-info">
        <p class="theme-text-secondary head-pera pb-0 mb-1">upcoming events</p>
        <h2 class="theme-text-primary mb-2">upcoming events</h2>
        <p class="mb-0 pera-small theme-text-light pe-5">Donec porttitor euismod dignissim. Nullam a lacinia ipsum, nec
          dignissim purus. </p>
      </div>
      <div class="col-lg-5 events-list text-lg-end mt-3 mt-lg-0">
        <ul class="">
          <li><a href="" class="list-button pera-small">All</a></li>
          <li><a href="" class="list-button pera-small active">Sell</a></li>
          <li><a href="" class="list-button pera-small">Rent</a></li>
        </ul>
      </div>
    </div>
    <div class="row d-flex  events-banner">
      @for (event of events; track $index) {
      <div class="col-md-6 col-lg-4 mb-4 mb-sm-5 mb-lg-0">
        <div
          class="events-box theme-radius theme-cursor text-white d-flex flex-column justify-content-between theme-bg-primary"
          (click)="redirect_to_login(event, 'event')">
          <!-- Date Boxes -->
          <div class="d-flex pb-3 pt-3 px-3">
            <!-- From Date Box -->
            <div class="text-center p-2 border rounded shadow-sm bg-white mx-1" style="width: 80px;">
              <div class="text-uppercase font-weight-bold text-black" style="font-size: 12px;">
                <b>{{ event.from_event_date | date: 'MMMM' }}</b>
              </div>
              <div class="font-weight-bold text-black" style="font-size: 24px;">
                <b>{{ event.from_event_date | date: 'd' }}</b>
              </div>
            </div>
            <!-- "to" label -->
            <div *ngIf="!isSameDate(event)" class="mx-2 text-black font-weight-bold pt-3" style="font-size: 18px;">
              to
            </div>
            <!-- To Date Box -->
            <div *ngIf="!isSameDate(event)" class="text-center p-2 border rounded shadow-sm bg-white mx-1"
              style="width: 80px;">
              <div class="text-uppercase font-weight-bold text-black" style="font-size: 12px;">
                <b>{{ event.to_event_date | date: 'MMMM' }}</b>
              </div>
              <div class="font-weight-bold text-black" style="font-size: 24px;">
                <b>{{ event.to_event_date | date: 'd' }}</b>
              </div>
            </div>
          </div>
          <!-- Event Info -->
          <div class="p-3 rounded-bottom mt-auto">
            <p class="mb-1 event-sub-head theme-text-primary">
              {{ event?.name | truncate:25 | titlecase }}
            </p>
            <p class="head-pera theme-text-primary mb-0">{{ formatTimeRange(event.start_time, event.end_time) }}</p>
            <span class="events-country theme-text-primary event-small">{{ event?.location }}</span>
          </div>
        </div>
      </div>
      }
      @empty {
      <div class="col-lg-6 pe-0 mt-5 mt-lg-0">
        <div class="d-flex justify-content-center">No Events Found</div>
      </div>
      }
    </div>
  </div>
</section>

<section class="news theme-top-specing theme-bg-primary theme-bottom-specing pb-5 mb-5">
  <div class="container">
    <div class="theme-head text-center">
      <p class="theme-text-secondary head-pera pb-0 pb-xxl-4">WHAT’S TRENDING</p>
      <h2 class="theme-text-primary mb-0">News highlights</h2>
    </div>
    <div class="row d-flex  news-banner">
      @for (newz of news; track $index) {
      <div class="col-md-6 pb-lg-0 pb-3 mb-5 mb-lg-0 col-lg-4">
        <div class="news-box theme-cursor" (click)="redirect_to_login(newz, 'news')">
          <div class="news-img mb-4 position-relative">
            <div class="news-clip position-absolute theme-bg-light theme-shadow-medium">
              <p class="head-pera theme-text-primary mb-0">{{ newz.news_date | date: 'd' }}</p>
              <p class="theme-text-light pera-small mb-0">{{ newz.news_date | date: 'MMMM' }}</p>
            </div>
            <img [src]="newz.news_banner" alt="" class="w-100 theme-shadow-large theme-radius" style="height: 250px;">
          </div>
          <div class=" pt-2">
            <h3 class="pb-2">{{ newz?.name |  truncate:50 | titlecase }}</h3>
            <p class="pera-small mb-0 pt-1 pe-3">{{ newz?.description | truncate:100 | titlecase }}</p>
          </div>
        </div>
      </div>
      }
      @empty {
      <div class="col-lg-6 pe-0 mt-5 mt-lg-0">
        <div class="d-flex justify-content-center">No News Found</div>
      </div>
      }
    </div>
  </div>
</section>
<section class="counter  theme-bottom-specing pb-5">
  <div class="container">
    <div class=" row theme-bg-dark   py-5 theme-radius theme-shadow-small">
      <div class="col-sm-6 col-lg-3  mb-5 mb-lg-0">
        <div class="text-center">
          <img src="assets/counter/events.svg" alt="" class="counter-icon">
          <h3 #members class="theme-light-w"><span class="count-digit counter-loaded"></span>{{homeCounts.membersCount}}
            <span class="plus">+</span>
          </h3>
          <span class="theme-light-w">VERIFIED MEMBERS</span>
        </div>

      </div>
      <div class="col-sm-6 col-lg-3  mb-5 mb-lg-0">
        <div class="text-center">
          <img src="assets/counter/subscriptions.svg" alt="" class="counter-icon">

          <h3 #eve class="theme-light-w"><span class="count-digit counter-loaded"></span>{{homeCounts.eventsCount}}
            <span class="plus">+</span>
          </h3>
          <span class="theme-light-w">OUR EVENTS</span>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3  mb-5 mb-md-0">
        <div class="text-center">
          <img src="assets/counter/news.svg" alt="" class="counter-icon">

          <h3 #new class="theme-light-w"><span class="count-digit counter-loaded"></span>{{homeCounts.newsCount}} <span
              class="plus">+</span></h3>
          <span class="theme-light-w">NEWS</span>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3  ">
        <div class="text-center">
          <img src="assets/counter/call.svg" alt="" class="counter-icon">

          <h3 #recording class="theme-light-w"><span
              class="count-digit counter-loaded"></span>{{homeCounts.callRecordingsCount}} <span class="plus">+</span>
          </h3>
          <span class="theme-light-w">CALL RECORDING</span>
        </div>
      </div>
    </div>
  </div>
</section>
