.hero::before {
    content: "";
    position: absolute;
    // background: rgb(48, 86, 211);
    // background: linear-gradient(360deg, rgb(48, 86, 211) 0%, rgb(76 201 240 / 10%) 100%);
    background: linear-gradient(180deg, rgba(76, 201, 240, 0.00) 0%, rgba(48, 86, 211, 0.30) 100%);
    // opacity: .3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0px 0px 240px 240px;
    z-index: -1;
}

.hero h1 {
    max-width: 550px;
}

.hero .hero-banner {
    padding-top: 150px;
}

.hero .swiper-slide img {
    border-radius: 30px;
}

.hero .swiper-button-next:after,
.hero .swiper-button-prev:after {
    font-size: 15px;
    color: #fff;
    font-weight: bold;
}

.hero .swiper-button-next,
.hero .swiper-button-prev {
    background: #F7BC35;
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.hero .swiper-pagination {
    position: inherit;
}

.hero .swiper-pagination-clickable .hero .swiper-pagination-bullet {
    cursor: pointer;
    width: 68px !important;
    height: 5px !important;
    border-radius: 0px !important;
}

.hero-Swiper .swiper-slide img {
    width: 100%;
}

.key {
    padding-bottom: 97px;
}

.key .key-box {
    padding: 30px 28px;
    margin: 0px 17px;
}

.key .key-card {
    margin-bottom: 57px;
}

.news .news-box {
    margin: 0px 14px;
}

.news .news-clip {
    top: 0;
    left: 50px;
    text-align: center;
    padding: 0px 15px 5px;
    border-radius: 0 0 10px 10px;
}

.events .events-list ul li {
    display: inline-block;
}

.events .events-info .pera-small {
    max-width: 500px;
}

.events .events-pera p {
    line-height: initial;
}

.events .events-box {
    padding: 28px 32px;
    margin: 0px 13px;
    transition: all 0.3s ease-in-out;
}

.events .events-box:hover {
    background: #fff;
    box-shadow: 4px 10px 30px 0 rgb(0 0 0 / 10%);
}

.key-icon img {
    width: 50px;
    height: 50px;
}

.mission {
    margin-bottom: 100px;
}

.mission img {
    max-width: 100%;
}

.plus {
    font-size: 28px;
}

img.counter-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

@media (max-width: 1601px) {
    h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .event-head {
        font-size: 48px;
    }

    .event-sub-head {
        font-size: 26px;
    }

    .hero::before {
        border-radius: 0px 0px 180px 180px;
    }

    .key .key-box {
        padding: 25px 18px;
        margin: 0px 10px;
    }

    .key .key-card {
        margin-bottom: 43px;
    }

    .theme-top-specing {
        padding-top: 100px;
    }

    .theme-head {
        padding-bottom: 56px;
    }
}

@media (max-width: 1440px) {
    h1 {
        font-size: 44px;
        line-height: 60px;
    }

    .hero::before {
        border-radius: 0px 0px 150px 150px;
    }
}

@media (max-width: 1201px) {
    .key .key-box {
        margin: 0px 5px;
    }

    .key .key-card {
        margin-bottom: 33px;
    }

    .theme-top-specing {
        padding-top: 80px;
    }

    .theme-head {
        padding-bottom: 46px;
    }

    h3 {
        font-size: 22px;
    }

    h2 {
        font-size: 34px;
    }

    .events .events-box {
        padding: 20px 20px;
        margin: 0px 5px;
    }

    .event-sub-head {
        font-size: 24px;
    }
}

@media (max-width: 1200px) {
    .hero .hero-banner {
        padding-top: 60px;
    }
}

@media (max-width: 992px) {
    h1 {
        font-size: 40px;
        line-height: 55px;
    }

    .hero::before {
        border-radius: 0px 0px 80px 80px;
    }

    .hero .hero-banner {
        padding-top: 40px;
    }

    .theme-top-specing {
        padding-top: 60px;
    }

    .theme-head {
        padding-bottom: 30px;
    }

    .key {
        padding-bottom: 97px;
    }

    .list-button {
        border-radius: 30px;
        padding: 5px 24px;
        margin-right: 10px;
    }

    .hero .swiper-button-next,
    .hero .swiper-button-prev {
        width: 30px;
        height: 30px;
    }

    .hero .swiper-button-next:after,
    .hero .swiper-button-prev:after {
        font-size: 12px;
    }
}

@media (max-width: 575px) {
    .hero::before {
        border-radius: 0px 0px 40px 40px;
    }
}