<section class="inner-hero position-relative">
  <div class="container">
    <div class="row inner-banner pb-2">
      <div class="col-12 pb-1">
        <a [routerLink]="['/news']" class="back-link text-decoration-none d-flex align-items-center pb-3">
          <i class="bi bi-arrow-left me-2"></i>Back to News
        </a>
        <div class="d-flex align-items-center flex-wrap gap-3 mb-3">
          <h2 class="theme-text-dark mb-0">{{news.name}}</h2>
          <!-- <p class="theme-text-secondary head-pera mb-0 d-flex align-items-center" [routerLink]="['/create-profile']">
            <i class="bi bi-newspaper me-2"></i>News View
          </p> -->
        </div>
      </div>
    </div>
  </div>
</section>

<div class="view-img">
  <div class="news-container" style="margin-bottom: 150px;margin-top: -50px;">
    <div class="news-content-section">
      <div class="news-left">
        <h1 class="news-title">{{ news?.name }}</h1>
        <p class="news-meta"> <span class="author">{{news.category}}</span> | <span class="date">{{ news.news_date |
            date: 'fullDate' }}
          </span></p>
        <div class="news-content">
          <p>
            {{news?.description}}
            <!-- {{ news?.description ? (news.description.length > 100 ? (news.description | slice:0:100) + '...' : news.description) : '' | titlecase }} -->
          </p>
          <!-- <p>
            This update comes after months of speculation and internal testing. The CEO announced the release during the
            company’s annual event, citing significant improvements in performance and reliability...
          </p> -->
        </div>
      </div>
      <div class="news-right">
        <img [src]="news.news_banner ? news.news_banner : 'assets/images/slider2.png'" alt="News Image" />
      </div>
    </div>
  </div>
</div>