<div class="container mt-0 form-modal">
  <h2 class="text-center">Sign Up</h2>
  <form [formGroup]="signupForm" (ngSubmit)="signup()" class="form-center">
    <!-- Name Field -->

    <div class="row">
      <div class="col-lg-6">
        <div class="mb-3">
          <label for="name" class="form-label">Full Name</label>
          <input type="text" id="name" class="form-control" formControlName="name" placeholder="Enter your full name" />
          <div class="text-danger" *ngIf="
              signupForm.controls['name'].invalid &&
              signupForm.controls['name'].touched
            ">
            Name is required (Min 3 characters).
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <!-- Email Field -->
        <div class="mb-3 mail-input">
          <label for="email" class="form-label">Email</label>
          <input type="email" id="email" class="form-control" formControlName="email" placeholder="Enter your email" />
          <div class="text-danger" *ngIf="
      signupForm.controls['email'].invalid &&
      signupForm.controls['email'].touched">
            Valid email is required.
          </div>
        </div>
      </div>
			<div class="col-lg-6">
        <div class="mb-3">
					
          <label for="phone" class="form-label">Phone Number</label>
          <div class="d-flex">
            <input type="text" id="phone" class="form-control" formControlName="mobile_number"
              placeholder="Enter your phone number" />
          </div>
          <div class="text-danger" *ngIf="phoneInvalid">
            Enter a valid phone number.
          </div>
        </div>
      </div>
			<div class="col-lg-6 d-flex align-items-center">
        <div class="mb-4">
					<label class="d-block mx-2 my-2">Gender</label>
					<div class="form-check form-check-inline mx-2">
						<input class="form-check-input" name="gender" type="radio" id="male" value="male" formControlName="gender" />
						<label class="form-check-label" for="male">Male</label>
					</div>
					<div class="form-check form-check-inline mx-2">
						<input class="form-check-input" type="radio" id="female" name="gender" value="female" formControlName="gender" />
						<label class="form-check-label" for="female">Female</label>
					</div>
        </div>
      </div>

      <div class="col-lg-6">
        <!-- Password Field -->
        <div class="mb-3 password-input">
          <label for="password" class="form-label">Password</label>
          <input  [type]="showPassword ? 'text' : 'password'" id="password" class="form-control" formControlName="password"
            placeholder="Enter your password" />
          <i class="toggle-password bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"
            (click)="togglePasswordVisibility('password')"
            style="position: absolute; top: 38px; right: 10px; cursor: pointer;"></i>
          <div class="text-danger" *ngIf="
      signupForm.controls['password'].invalid &&
      signupForm.controls['password'].touched">
            Password must be at least 6 characters.
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <!-- Confirm Password Field -->
        <div class="mb-3 password-input">
          <label for="confirmPassword" class="form-label">Confirm Password</label>
          <input  [type]="confirmPassword ? 'text' : 'password'" id="confirmPassword" class="form-control" formControlName="confirmPassword"
            placeholder="Confirm your password" />
          <i class="toggle-password bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"
            (click)="togglePasswordVisibility('confirmPassword')"
            style="position: absolute; top: 38px; right: 10px; cursor: pointer;"></i>
          <div class="text-danger" *ngIf="passwordsDoNotMatch">
            Passwords do not match.
          </div>
        </div>
      </div>
      
    </div>
    <button type="submit" class="subscrip-btn w-100" [disabled]="signupForm.invalid">
      Sign Up
    </button>
    <div class="mt-4">
      <span class="moda-or">OR</span>
    </div>
    <button type="button" class="google-btn w-100 mt-4" (click)="openAuthModal()">
      Have an account? Sign in
    </button>
  </form>
</div>