<section class="inner-hero position-relative">
  <div class="container">
    <div class="row inner-banner pb-2">
      <div class="col-12 pb-1">
        <p class="theme-text-secondary head-pera pb-0 pb-xxl-3 mb-0">Events</p>
        <h1 class="theme-text-dark pb-0 pb-xxl-4">Events</h1>
      </div>
    </div>
  </div>
</section>
<section class="filter pt-3">
  <div class="container">
    <div class="filter-banner">
      <nav class="row navbar theme-bg-filter theme-radius-small">
        <div class="col-sm-8">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search by Name and Description..."
              aria-label="Search" [(ngModel)]="searchevents" name="searchnews" (ngModelChange)="onSearchChange($event)">
            <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
          </form>
        </div>
        <div class="col-sm-4 text-start text-sm-end mt-3 mt-sm-0">
          <button> <img src="assets/member/filter-icon.svg" alt="" class="me-2"> Filter</button>
        </div>
      </nav>
    </div>
  </div>
</section>

<section class="event-city theme-top-specing-small">
  <div class="container">
    <div class="event-city-head">

      <div class="row pt-4 pt-sm-5" *ngIf="events.length">
        @for (item of events; track $index) {
        <div class="col-lg-6 disable" (click)="redirect_to_login(item)"
          [ngClass]="{'disable': !eventDetails.sub_plan_status && $index >= 4 }">
          <div class="event-city-banner theme-cursor">
            <div class="event-city-img position-relative">
              <div class="star-icon ">
                <img src="assets/event/event-icon.png" alt="">
              </div>
              <img [src]="item.event_banner" alt="" class="w-100 blanck_img" height="250px">
              <span class="theme-bg-primary head-pera event-img-info"> {{ item?.name ? (item.name.length > 50 ?
                (item.name | slice:0:50) + '...' : item.name) : '' | titlecase }} </span>
            </div>
            <div class="d-md-flex event-city-list theme-bg-primary px-4 py-3 py-lg-5">
              <div class="event-city-date text-start text-lg-center">
                <div class="text-center">
                  <!-- From Date Box -->
                  <div class="d-inline-block text-center p-2 border rounded shadow-sm bg-white mx-1"
                    style="width: 80px;">
                    <div class="text-uppercase font-weight-bold text-primary" style="font-size: 12px;">
                      {{ item.from_event_date | date: 'MMMM' }}
                    </div>
                    <div class="font-weight-bold text-primary" style="font-size: 24px;">
                      {{ item.from_event_date | date: 'd' }}
                    </div>
                  </div>
                  <!-- "to" label -->
                  <div *ngIf="!isSameDate(item)" class="my-1 text-primary font-weight-bold">to</div>
                  <!-- To Date Box -->
                  <div *ngIf="!isSameDate(item)"
                    class="d-inline-block text-center p-2 border rounded shadow-sm bg-white mx-1" style="width: 80px;">
                    <div class="text-uppercase font-weight-bold text-primary" style="font-size: 12px;">
                      {{ item.to_event_date | date: 'MMMM' }}
                    </div>
                    <div class="font-weight-bold text-primary" style="font-size: 24px;">
                      {{ item.to_event_date | date: 'd' }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="event-city-venue px-md-4">
                <!-- <p class="theme-event-text">{{ item?.description ? (item.description.length > 20 ? (item.description |
                  slice:0:150) + '...' : item.description) : '' | titlecase }}</p> -->
                  <p class="theme-event-text">{{ item?.description | truncate:100 | titlecase }}</p>

                <p class="head-pera fw-bold ">{{item.location}}</p>
                <!-- <p class="head-pera"> {{ item.start_time }} - {{ item.end_time }}</p> -->
                <p class="head-pera">
                  {{ item.start_time.slice(0, 5) }} - {{ item.end_time.slice(0, 5) }}
                </p>
                <div class="mt-3 d-flex justify-content-end">
                  <a [href]="'https://www.facebook.com/sharer/sharer.php?u=' + shareBaseUrl + '/events/' + item.id"
                    target="_blank" class="me-3 text-primary">
                    <i class="bi bi-facebook text-dark"></i>
                  </a>
                  <a [href]="'https://twitter.com/intent/tweet?url=' + shareBaseUrl + '/events/' + item.id"
                    target="_blank" class="me-3 text-info">
                    <i class="bi bi-twitter-x text-dark"></i>
                  </a>
                  <a [href]="'https://www.linkedin.com/shareArticle?mini=true&url=' + shareBaseUrl + '/events/' + item.id"
                    target="_blank" class="text-secondary">
                    <i class="bi bi-linkedin text-dark"></i>
                  </a>
                </div>

                <!-- <p class="head-pera">
                  {{ item.start_time | date: 'h:mm a' }} - {{ item.end_time | date: 'h:mm a' }}
                </p> -->
                <!-- <span class="theme-event-city"><img src="assets/event/inr.svg" alt="" class="me-2 mb-2">INR
                    499</span><br class="d-sm-none">
                  <span class="ms-0 ms-sm-3  theme-event-city"><img src="assets/event/city-star.svg" alt=""
                      class="me-2 mb-2">10 interested</span> -->
              </div>
            </div>

            <!-- <share-buttons show="2" description="Test me" /> -->
            <!-- <share-buttons [theme]="'material-dark'" [include]="['facebook','x','linkedin','copy']" [show]="5"
              [url]="'https://x.com/'"></share-buttons> -->
            <!-- <button mat-fab shareButton="facebook" #facebookBtn="shareButton"
              [style.background-color]="facebookBtn.color()">
              <fa-icon [icon]="facebookBtn.icon()" size="lg" />
            </button> -->



          </div>
        </div>
        }



        <!-- <div class="col-lg-6" (click)="redirect_to_login()">
          <div class="event-city-banner">
            <div class="event-city-img position-relative">
              <div class="star-icon ">
                <img src="assets/event/event-icon.png" alt="">
              </div>
              <img src="assets/event/event-city-img.webp" alt="" class="w-100">
              <span class="theme-bg-primary head-pera event-img-info">Technology & Innovation</span>
            </div>
            <div class="d-md-flex event-city-list theme-bg-primary px-4 py-3 py-lg-5">
              <div class="event-city-date text-start text-lg-center ">
                <p class="event-city theme-text-event mb-0">NOV</p>
                <h3 class="theme-event-text">22</h3>
              </div>
              <div class="event-city-venue px-md-4">
                <p class="theme-event-text">Event title that can go up to two lines</p>
                <p class="head-pera fw-bold">Venue</p>
                <p class="head-pera">00:00 AM - 00:00 PM</p>
                <span class="theme-event-city"><img src="assets/event/inr.svg" alt="" class="me-2 mb-2">INR
                  499</span><br class="d-sm-none">
                <span class="ms-0 ms-sm-3  theme-event-city"><img src="assets/event/city-star.svg" alt=""
                    class="me-2 mb-2">10 interested</span>
              </div>

            </div>
          </div>
        </div>
        <div class="col-lg-6" (click)="redirect_to_login()">
          <div class="event-city-banner">
            <div class="event-city-img position-relative">
              <div class="star-icon ">
                <img src="assets/event/event-icon.png" alt="">
              </div>
              <img src="assets/event/event-city-img.webp" alt="" class="w-100">
              <span class="theme-bg-primary head-pera event-img-info">Technology & Innovation</span>
            </div>
            <div class="d-md-flex event-city-list theme-bg-primary px-4 py-3 py-lg-5">
              <div class="event-city-date text-start text-lg-center ">
                <p class="event-city theme-text-event mb-0">NOV</p>
                <h3 class="theme-event-text">22</h3>
              </div>
              <div class="event-city-venue px-md-4">
                <p class="theme-event-text">Event title that can go up to two lines</p>
                <p class="head-pera fw-bold">Venue</p>
                <p class="head-pera">00:00 AM - 00:00 PM</p>
                <span class="theme-event-city"><img src="assets/event/inr.svg" alt="" class="me-2 mb-2">INR
                  499</span><br class="d-sm-none">
                <span class="ms-0 ms-sm-3  theme-event-city"><img src="assets/event/city-star.svg" alt=""
                    class="me-2 mb-2">10 interested</span>
              </div>

            </div>
          </div>
        </div>
        <div class="col-lg-6" (click)="redirect_to_login()">
          <div class="event-city-banner">
            <div class="event-city-img position-relative">
              <div class="star-icon ">
                <img src="assets/event/event-icon.png" alt="">
              </div>
              <img src="assets/event/event-city-img.webp" alt="" class="w-100">
              <span class="theme-bg-primary head-pera event-img-info">Technology & Innovation</span>
            </div>
            <div class="d-md-flex event-city-list theme-bg-primary px-4 py-3 py-lg-5">
              <div class="event-city-date text-start text-lg-center ">
                <p class="event-city theme-text-event mb-0">NOV</p>
                <h3 class="theme-event-text">22</h3>
              </div>
              <div class="event-city-venue px-md-4">
                <p class="theme-event-text">Event title that can go up to two lines</p>
                <p class="head-pera fw-bold">Venue</p>
                <p class="head-pera">00:00 AM - 00:00 PM</p>
                <span class="theme-event-city"><img src="assets/event/inr.svg" alt="" class="me-2 mb-2">INR
                  499</span><br class="d-sm-none">
                <span class="ms-0 ms-sm-3  theme-event-city"><img src="assets/event/city-star.svg" alt=""
                    class="me-2 mb-2">10 interested</span>
              </div>

            </div>
          </div>
        </div> -->
      </div>
      @if (!events.length) {
      <div class="col-lg-12">
        <div class="alert alert-info text-center">
          No Events Found
        </div>
      </div>
      }
    </div>
  </div>
</section>