<div class="container mt-0 form-modal">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Forgot Password</h2>
      <div class="card-body">
        <p class="">Enter the email address associated with your account to reset your password.</p>
        <div class="input-group mb-3">
          <span class="input-group-text"><i class="fa fa-envelope"></i></span>
          <input type="email" class="form-control" placeholder="Email address" id="forgotEmail" name="forgotPassword"
            [(ngModel)]="forgotPasswordInfo.email">
        </div>
        <h6 class="text-danger" *ngIf="errorMessage">{{errorMessage}}</h6>
        <h6 class="text-success" *ngIf="successMessage">{{successMessage}}</h6>
        <div class="row">
          <div class="col-12 d-flex">
            <button type="button" class="subscrip-btn w-100 m-3" [disabled]="!forgotPasswordInfo.email"
              (click)="forgotPassword()">Continue
              <span> <i *ngIf="loading" class="fa fa-refresh fa-spin ml-2" aria-hidden="true"></i></span>
            </button>
            <button type="button"  (click)="openAuthModal('signin')" class="subscrip-btn w-100 m-3">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
