<div class="container mt-0 form-modal" *ngIf="loading">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Reset Password</h2>
      <div class="card-body">
        <div class="card-title pt-5 w-50 m-auto" *ngIf="expiredLinkErrorMsg">
          <br> <br> <br> <br>
          <div class="text-center pt-5">
            <p class="alert alert-danger text-left" role="alert" style="font-family: initial;">
              {{expiredLinkErrorMsg}}
            </p>
          </div>
        </div>
        <div *ngIf="!expiredLinkErrorMsg">
          <div class="mb-3">
            <div class="input-group" >
              <span class="input-group-text"
                [ngClass]="{'text-danger' : !userResetInfo.newPass, 'text-success':userResetInfo.newPass}">
                <i class="fa fa-lock"></i></span>
              <input [type]=viewInputType.newPassType maxlength="10" class="form-control"
                placeholder="Enter new password" name="newPass" [(ngModel)]="userResetInfo.newPass"
                (ngModelChange)="patternMatchCheck(userResetInfo.newPass, 'strongPasswordCheck')">
              <span class="input-group-text cursor-pointer" (click)="changeInputType('newPassType')">
                <i class="fa fa-eye"></i>
              </span>
              <p class="alert fade alert-danger show p-2" style="font-size: 12px;" role="alert"
                *ngIf="userResetInfo.newPass && !inValidateCheck.strongPasswordCheck">
                Use Strong Password min 8 characters,1 lowercase,1 uppercase letter,1 number ,1 special
                character.</p>
            </div>
          </div>
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text"
                [ngClass]="{'text-danger' : !userResetInfo.newConfPass, 'text-success':userResetInfo.newConfPass}">
                <i class="fa fa-lock"></i>
              </span>
              <input [type]=viewInputType.newConfType maxlength="10" class="form-control"
                placeholder="Enter confirm password" [(ngModel)]="userResetInfo.newConfPass" name="newConfPass">
              <span class="input-group-text cursor-pointer" (click)="changeInputType('newConfType')">
                <i class="fa fa-eye"></i>
              </span>
            </div>
            <p class="alert alert-danger show mt-1 p-2" style="font-size: 12px;" role="alert"
              *ngIf="userResetInfo.newPass && userResetInfo.newConfPass && userResetInfo.newPass !== userResetInfo.newConfPass">
              Confirm Password must match with password.
            </p>
          </div>
          <div class="row">
            <div class="col-12 d-flex">
              <button type="button" class="subscrip-btn w-100 m-3" (click)="resetPassword()"> Continue </button>
              <button type="button" (click)="openAuthModal('signin')" class="subscrip-btn w-100 m-3">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
