<section class="inner-hero position-relative">
  <div class="container">
    <div class="row inner-banner pb-2">
      <div class="col-12 pb-1">
        <p class="theme-text-secondary head-pera pb-0 pb-xxl-3 mb-0">Members</p>
        <h1 class="theme-text-dark pb-0 pb-xxl-4">Members</h1>
      </div>
    </div>
  </div>
</section>
<section class="filter pt-3">
  <div class="container">
    <div class="filter-banner">


      <nav class="row navbar theme-bg-filter theme-radius-small">
        <div class="col-sm-8">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search by Name and Expertise ..." [(ngModel)]="searchmembers" name="searchmembers"   (ngModelChange)="onSearchChange($event)"
              aria-label="Search">
            <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
          </form>
        </div>
        <div class="col-sm-4 text-start text-sm-end mt-3 mt-sm-0">
          <button> <img src="assets/member/filter-icon.svg" alt="" class="me-2"> Filter</button>
        </div>
      </nav>

      <div class="filter-team">
        <div class="row">
          @for (member of members; track $index) {
            <div class="col-md-6 col-lg-4 col-xl-3 col-lg-3 filter-h" (click)="redirect_to_login(member)">
              <div class="filter-member theme-bg-member text-center px-3 px-xxl-5 py-4 position-relative h-100" [ngClass]="{'disable': !userDetails.sub_plan_status && $index >= 4 }">
                <!-- <span class="event-small theme-text-Verified position-absolute top-0 end-0">Verified User <img src="assets/member/verified-icon.svg" alt="" class=""></span> -->
                <span class="verified event-extra-small theme-text-verified">
                  <img src="assets/member/verified-icon.svg" alt="" class="d-block ">Verified</span>
                <img [src]="member.photo ? member.photo : 'assets/member/phoenix.webp'" style="border-radius: 90px;"  width="150px" height="150px" alt="" class="mb-3 pb-1">
                <div class="member-info">
                  <p class="head-pera theme-text-member pb-1 mb-0">{{member.name | titlecase}}</p>
                  <!-- <p class="pera-small theme-text-member-info">{{member.expertise}}</p> -->
                  <p class="pera-small theme-text-member-head">
                    {{ member?.expertise ? (member.expertise.length > 25 ? (member.expertise | slice:0:25) + '...' : member.expertise) : '' | titlecase }}
                  </p>
                  <p class="pera-small theme-text-member-head">
                    {{ member?.short_bio ? (member.short_bio.length > 50 ? (member.short_bio | slice:0:50) + '...' : member.short_bio) : '' | titlecase }}
                  </p>
                  <ul class="filter-social">
                    <li><a href="https://x.com/"><img src="assets/member/twitter.svg" alt=""></a> </li>
                    <li> <a href="https://in.linkedin.com/company/sfswebtech"><img src="assets/member/linkedin.svg" alt=""></a></li>
                    <!-- <li> <a href="#"><img src="assets/member/social-icon.svg" alt=""></a></li> -->
                  </ul>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
      @if(!members.length) {
        <div class="col-lg-12">
          <div  class="alert alert-info text-center ">
            No Members Found
          </div>
        </div>
      }
    </div>
  </div>
</section>
