<section class="inner-hero position-relative">
  <div class="container">
    <div class="row inner-banner pb-2">
      <div class="col-12 pb-1">
        <p class="theme-text-secondary head-pera pb-0 pb-xxl-3 mb-0">About us</p>
        <h1 class="theme-text-dark pb-0 pb-xxl-4">About us</h1>
      </div>
    </div>
  </div>
</section>


<section class="about theme-top-specing-small">
  <div class="container">
    <div class="row ">
      <div class="col-lg-6 order-2 order-lg-1 ">
        <div class="about-banner text-center text-lg-start pt-3 pt-lg-0">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="text-end mb-2 mb-md-4 pb-3 about-left-one"><img src="assets/about/about-left-1.png" alt=""></div>
              <div class="text-end mb-2 mb-md-4 pb-3"><img src="assets/about/about-left-2.png" alt=""></div>
              <div class="ps-4"><img src="assets/about/about-left-3.png" alt=""></div>
            </div>
            <div class="col-6 col-md-4">
              <div class="d-flex align-items-end">
                <span class="me-1 me-md-4 pe-1 pe-md-3 "><img src="assets/about/about-center1.png" alt=""></span>
                <span class="me-4 pe-0 pe-md-3"><img src="assets/about/about-center2.png" alt=""></span>
              </div>
              <div>
                <div class="d-flex align-items-end mt-2 mt-md-4 pt-3">
                  <div>
                    <span class="me-4 pe-3 mb-2 mb-md-4 pb-3 d-inline-block"><img src="assets/about/about-right1.png"
                        alt=""></span>
                    <span class="me-2 me-md-4 pe-3 about-right-two"><img src="assets/about/about-right2.png" alt=""></span>
                  </div>
                  <div>
                    <span class="mb-4  d-inline-block "><img src="assets/about/about-right3.png" alt=""></span>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2">
        <div class="about-info ps-lg-5 ps-xl-0">
          <h2 class="pb-3">Active Learner Group</h2>
          <p class="head-pera pb-3 pb-lg-5 mb-3 mb-lg-5">To create a digital community for SME business owners across India, offering both public and member-exclusive features with progressive enhancements. The platform aims to facilitate networking, knowledge sharing, and business growth.
            <br> <br>
            Target Audience: SME founders, business consultants, retail owners, and independent professionals seeking collaboration opportunities.
            </p>
          <hr />
        </div>
      </div>
    </div>
  </div>
</section>


 <section class="about-us theme-top-specing-small theme-bg-light">
  <div class="container">
    <div class="about-us-inner theme-bg-light p-2 p-md-4 ">
      <div class="row p-2 ">
        <div class="col-lg-7">
          <div class="we-are">
            <h2 >Who we are</h2>
            <p class="head-pera"> We aim to build a thriving digital community for SME business owners across India. Our platform is designed to connect, empower, and support businesses by facilitating networking, knowledge sharing, and growth opportunities..</p>
            <p class="head-pera">
              Our platform is tailored for:
                <br/>✔ SME founders looking to expand their business network.
                <br/>✔ Business consultants seeking collaborations and opportunities.
                <br/>✔ Retail owners exploring strategies to scale their business.
                <br/>✔ Independent professionals eager to learn and grow in their industry.
            </p>
            <p class="head-pera">
              What We Offer
                We provide a blend of public features and member-exclusive benefits to ensure a progressive and engaging experience for all users. Our key offerings include:
                <br/> ✅ Business Networking: Connect with like-minded professionals.
                <br/>✅ Knowledge Sharing: Access expert insights, industry trends, and educational resources.
                <br/> ✅ Collaboration Opportunities: Find potential business partners, clients, and investors.
                <br/>✅ Exclusive Member Benefits: Premium content, private discussions, and special events.

                Join us in transforming the SME ecosystem and taking your business to the next level! 🚀
            </p>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="about-img mt-3 mt-lg-0 ps-lg-3 ps-xl-5">
            <!-- <img src="assets/about/about-info-banner.webp" alt=""> -->
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
